<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net471" />
  <package id="PX.AddressValidator" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Api.ContractBased" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Api.ContractBased.Common" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Api.Mobile.Model" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Api.Shared" version="19.111.0038" targetFramework="net471" />
  <package id="PX.BulkInsert" version="19.111.0038" targetFramework="net471" />
  <package id="PX.CarrierService" version="19.111.0038" targetFramework="net471" />
  <package id="PX.CCProcessingBase" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Common" version="19.111.0038" targetFramework="net471" />
  <package id="PX.CS.Contracts" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Dashboards" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Dashboards.Widgets" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Data" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Data.BQL.Fluent" version="19.111.0038" targetFramework="net471" />
  <package id="PX.DataSync" version="19.111.0038" targetFramework="net471" />
  <package id="PX.DataSync.Core" version="19.111.0038" targetFramework="net471" />
  <package id="PX.DbServices" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Export" version="19.111.0038" targetFramework="net471" />
  <package id="PX.LicensePolicy" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Objects" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Objects.FS" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Olap" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Owin.Interfaces" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Reports" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Reports.ARm" version="19.111.0038" targetFramework="net471" />
  <package id="PX.TaxProvider" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Web.UI" version="19.111.0038" targetFramework="net471" />
  <package id="PX.Web.UI.Frameset" version="19.111.0038" targetFramework="net471" />
</packages>